# Infrastructure
REDIS_URL=redis://localhost:6379
DATABASE_URL=sqlite+pysqlite:///sqlite/attendance.db

# WebAuthn
WEB_ORIGIN=http://api.attendance.whatta.top
APP_ORIGIN=android:apk-key-hash:3mg2iB-JtknVTWAQS81rSIMVIWhj2OJ_PjUn-_33134
RP_ID=attendance.example.com
RP_NAME=Passkey Attendance System
REGISTRATION_PROTOCOL=pas

# Timeouts
CHALLENGE_TIMEOUT=180
LOGIN_TIMEOUT=1800
REGISTRATION_TIMEOUT=180