# Infrastructure
REDIS_URL=redis://localhost:6379
DATABASE_URL=sqlite+pysqlite:///sqlite/attendance.db

# WebAuthn
ORIGIN=http://localhost:3000
RP_ID=attendance.example.com
RP_NAME=Passkey Attendance System
REGISTRATION_PROTOCOL=pas

# Timeouts`
CHALLENGE_TIMEOUT=180
LOGIN_TIMEOUT=1800
REGISTRATION_TIMEOUT=180