# Hosts and ports
REDIS_HOST=localhost
BACKEND_PORT=8000
FRONTEND_PORT=3000
ORIGIN=http://localhost:3000

# Timeouts
CHALLENGE_TIMEOUT=180
LOGIN_TIMEOUT=1800
REGISTRATION_TIMEOUT = 180

# Constants
RP_ID=attendance.softeng.com
RP_NAME=Passkey Attendance System
PROTOCOL=pas
